.gray { color:#707070}
.gray131 { color:#999; font-size:13px;}
.red121 { color:#F00; font-size:12px;}

.btn_print{
width:25px;
height:24px;
border: none;
background: transparent url(../images/btn_print.gif) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display: inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
margin-top:5px;
}
.btn_print2{
width:118px;
height:30px;
border: none;
background: transparent url(../images/btn_print.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display: inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
margin-top:5px;
}

.btn_save1{
width:118px;
height:30px;
border: none;
background: transparent url(../images/btn_save.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display: inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
margin-top:5px;
}

.btn_back1{
width:118px;
height:30px;
border: none;
background: transparent url(../images/btn_back.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display: inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_add1{
width:118px;
height:30px;
border: none;
background: transparent url(../images/btn_add.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_delete1{
width:24px;
height:26px;
border: none;
background: transparent url(../images/btn_delete.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_search1{
width:32px;
height:32px;
border: none;
background: transparent url(../images/comment_user_search.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline-block;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_addico{
width:16px;
height:16px;
background:url(../images/tree/ico_add.png) no-repeat center transparent;
border:none;
overflow: hidden;
line-height: 0px;
display:inline-block;
cursor: pointer; 
cursor: hand;  
margin-left:20px;

}

.btn_editico{
width:16px;
height:16px;
border: none;
background: transparent url(../images/tree/ico_edit.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline-block;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
margin:0 5px;
}

.btn_deleteico{
width:16px;
height:16px;
border: none;
background: transparent url(../images/tree/ico_delete.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline-block;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
vertical-align: baseline;

}
a.btn_deleteico{
  filter:alpha(opacity=40);
  -moz-opacity:0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;

}
a:hover.btn_deleteico,a:hover.del_box,a:hover.copy_box{
  filter:alpha(opacity=100);
  opacity:100;
  z-index: 1;
  zoom:1
  /* FF ,IE */
}
a.del_box
{
 background:url(../images/delete-ico.png) no-repeat center transparent;	
  width:16px;
  height:16px;
  display:inline-block;
  line-height:0px;
  filter:alpha(opacity=40);
  -moz-opacity:0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;	
  cursor:pointer;
  cursor:hand;
 
}
a.copy_box
{
  background:url(../images/copy-ico.png) no-repeat center transparent;	
  width:16px;
  height:16px;
  display:inline-block;
  line-height:0px;
  filter:alpha(opacity=40);
  -moz-opacity:0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;	
  cursor:pointer;
  cursor:hand;	
}


