body{ background-color:#FFFFFF; 
background-image:none; color:#000000;font-size:11px;
line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px;
font-family: Tahoma, verdana, sans-serif;}

#title{display:none;}
#search{display:none}
#report #title{width:750px;display:block;}
#report{width:auto;margin:0 5%;padding:0;border:0;}
#report table{width:750px;margin-left:5%;}
#report #area_btn_print{display:block;}
#btn_printout{display:none;}
