@charset "utf-8";
/*
Design by http://www.favouritedesign.com
*/

/* ### GENERAL ### */

BODY {margin:0;padding:0; color:#333; font-family: Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana,Arial, Helvetica, sans-serif;
font-size:13px; font-weight:normal; background-color:white;}

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
p { margin:8px 0; padding:0 0 8px;}
a {text-decoration:none; color:#0575d4;}
a:hover {color:#0190fe;}
.bold{font-weight:bold;}
.blue{color:#0080FF;}
/* ------- Remove Chrome's border around active fields ------- */

*:focus {outline: none;}

/* main */
.main {position:relative; padding:0; margin:0px; width:100%; height:107px; background: url(../images/bg_rabies-3.jpg) no-repeat;}
.name{float:left; margin-left:90px; margin-top:0px; width:724px; height:70px; background: url(../images/name2.png) no-repeat;}
.dog1{float:left; /*margin-left:793px; */width:265px; height:142px; background: url(../images/dog1.png) no-repeat; /*position:absolute;*/}
.logedin{float:left;/*margin-left:280px; */margin-top:45px;}
.dateTime{float:left; font-size:12px; font-weight:bold; color:#e3138f; margin-top:9px;/*position:relative;margin-top:79px;margin-left:1076px;*/}
.userlogedin{float:left;position:absolute; margin-left:148px; margin-top:74px; font-size:14px;padding:3px; background-color:white;opacity:0.7;filter:alpha(opacity=70);height:18px;}
.userlogedin_text1{color:#ed0202; font-weight:bold;}
.userlogedin.userlogedin_text2{color:#2151b3;}
.btn_logout{width:122px; height:26px; cursor:pointer; border:none; background: url(../images/btn_logout_reg2.png) no-repeat;display:block;}
.btn_logout:hover{border:none; background:url(../images/btn_logout.png) no-repeat; }
#bg_dog1{float:left;width:100%; background: url(../images/bg_dog1.jpg) repeat-x;margin-top:-36px;}



/* content */
#content { padding-left:10px; float:left; width:99%;  /*margin-left:50px;*/ padding-top:30px;margin:0 auto; }
.welcome{color:#e31788; font-size:15px;}
.nameMember{color:black; font-size:15px;margin:60px 0px 0px 57px;}
.path{margin-left:800px; color:#89898a;}
.text_patient1{font-size:18px; color:#ca2090;}
.tb_patient1,.tbform{width:100%;border-collapse: collapse;}
.tb_patient1,.tb_patient1 td{border:1px solid #cecece;}
.tb_patient1 th{text-align:right; padding-right:15px; line-height:30px;}
.noborder, .noborder tr, .noborder th, .noborder td{border: none;}
.td_patient1{border-bottom:#ca2090 solid 2px;}
.text_patient{ text-align:right; padding-right:15px; line-height:40px;}
.input_box_patient{border:1px solid #cecece; margin-left:15px; height:20px;width:150px;  }
.input_box_patient:focus{border:1px solid #e6d773; width:150px; margin-left:15px;background-color:#fdfde4;}
.input_box_patient.nowidth,.input_box_patient.nowidth:focus{width:auto;margin-left:0px;}
.input_box_patient.auto,.input_box_patient.auto:focus{width:auto;}
textarea.input_box_patient{width:auto;height:100px;}
input[type="file"]{width:200px;margin-left:15px;width:250px;}
select.input_box_patient:focus,select.styled-select:focus{border:1px solid #e6d773; width:auto; margin-left:15px;background-color:#fdfde4;}
select.styled-select,select.input_box_patient{
	margin-left:15px;height:auto;
	border:1px solid #cecece; width:auto; background-image: url(../images/arrow.gif); background-position: center right;  background-repeat: no-repeat;
	/*color: #e31788; */
	font-size: inherit; overflow: hidden; -webkit-appearance: button; padding-top: 2px;  padding-bottom: 2px;  text-overflow: ellipsis;  white-space: nowrap;}
.box_calendar{float:left; border:1px solid #cecece; width:100px; margin-left:15px; height:20px;}
input[type="submit"],.btn_submit{display:block; width:88px; height:26px; background-image: url(../images/btn_search_reg.png); background-position:no-repeat; cursor:pointer; border:none; background-color:transparent;}
.btn_submit:hover{background-image: url(../images/btn_search_hot.png); background-position:no-repeat;}
input[type="reset"],.btn_cancel{display:block; width:88px; height:26px; background-image: url(../images/btn_cancel_reg.png); background-position:no-repeat; cursor:pointer; border:none; background-color:transparent;}
.btn_cancel:hover{background-image: url(../images/btn_cancel_hot.png); background-position:no-repeat;}
.btn_save{display:block; width:88px; height:26px; background-image: url(../images/btn_save_reg.png); background-position:no-repeat; cursor:pointer; border:none; background-color:transparent;}
.btn_save:hover{background-image: url(../images/btn_save_hot.png); background-position:no-repeat;}
.btn_press{display:inline-block; width:275px; height:26px; 
			background-image: url(../images/btn_press_reg.png); background-position:no-repeat; cursor:pointer; border:none; background-color:transparent;
			vertical-align:bottom;padding-bottom:3px;
				  }
.btn_press:hover{background-image: url(../images/btn_press_hot.png); background-position:no-repeat;}
.btn_del{display:inline-block; width:88px; height:26px; 
		 background: url(../images/btn_del_reg.png) no-repeat; background-position:no-repeat; cursor:pointer; border:none; background-color:transparent;
		 vertical-align:super;
				  }
.btn_del:hover{background: url(../images/btn_del_hot.png) no-repeat; background-position:no-repeat;}
.btn_inline {/*width:70%; */height:26px;text-align:center;margin-top:15px;}
.btn_inline ul {list-style:none; margin:0px auto;padding:0;display:inline-block;}
.btn_inline ul li{display:block; float:left;list-style:none; padding-right:15px;}

.tb_search_Rabies1{border:1px solid #fba2d6; text-align:center; line-height:30px; border-collapse: collapse;width:100%;}
.tb_search_Rabies1 tr:hover{background-color:#fffcc4;}
.tb_search_Rabies1 th{text-align:left; font-weight:bold; line-height:30px; color:black; background-color:#ffc4e7;}
.tb_search_Rabies1 td{border-bottom:1px solid #fba2d6; text-align:left;}
.tr_rule_Rabies2{text-align:left; }


.tbform th,.tbform thead{
	text-align:right; padding-right:15px; line-height:40px;
	border-color: #CCCCCC;
    border-style: dashed solid;
    border-width: 1px 1px 1px 0;
}

.tbform td{
	border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0;
}


.tbdead th,.tbdead8 th{
	text-align:right; padding-right:15px; line-height:40px;
	border-color: #CCCCCC;
    border-style: dashed solid;
    border-width: 1px 1px 1px 0;
}

.tbdead td,.tbdead8{padding:5px;}
.tddead td.topic{
	width:20%
}
.tbdead td span.topic{
	width:101px;
	display:inline-block;
	text-align:right;
}	
.tbdead td span.topic.radio{
margin-right:11px;
}	


.tbdead ul{width:600px;}
.tbdead ul li{
	list-style: none;
	width:85px;
	display:inline-block;
	vertical-align: top;
	padding:5px;
}
.tbdead ul.sub,.tbdead td .sub{
	width:377px;
	float:right;
	margin-right:41%;
	display:inline-block;
}

.tbdead ul.sub li{
	list-style: none;
	width:411px;
	display:inline-block;
	vertical-align: top;
	padding:5px;
}
.tbdead ul li.topic{
	width:277px;
}
.tbdead8 td span.topic{
	width:213px;
	display:inline-block;
	text-align:right;
}
.tbdead8 td span.pad-left{
	margin-left:61px;
}
.tbdead8 td span.pad-left{
	margin-left:61px;
}









.tbvaccine{width:100%;margin:10px 0px;padding:0px;border-collapse: collapse;}
.tbvaccine th{	
	border-bottom: solid #CCC 2px;
}
.tbvaccine th{
	text-align:center;height: 20px;
}
.tbvaccine td{
	text-align:center; vertical-align: middle;
	border:#CCC solid 1px;
	border-top:none;

	padding:5px 0px;
}
.footer{margin-top:15px;height:31px; width:100%; position:relative; padding-top:7px; background-image: url(../images/bg_footer.jpg); background-repeat: repeat-x;}

			
/********************************      Login Page      ********************************/

body#login {color: #fff; background: #e61a8a url('../images/bg-login.gif');}
#login-wrapper {background: url('../images/bg-login-top.png') top left repeat-x;}
#login-wrapper #login-top {	width: 100%; padding: 140px 0 50px 0; text-align: center;}
#login-wrapper #login-content {text-align: left; width: 300px;margin: 0 auto;}
#login-wrapper #login-content {text-align: left;width: 300px;margin: 0 auto;}
#login-wrapper #login-content label {color: #fff;font-weight: normal;font-size: 14px;font-family: Helvetica, Arial, sans-serif;	float: left;width: 70px;padding: 0;	}
#login-wrapper #login-content input {width: 200px;	float: right;	margin: 0 0 20px 0;	border: 0;	background: #fff;}
#login-wrapper #login-content p {padding: 0;	}
#login-wrapper #login-content p#remember-password {float: right;}
#login-wrapper #login-content p#remember-password input {float: none;width: auto;border: 0;	background: none;margin: 0 10px 0 0;}

.btn_login {}
#title{
background:url('../images/bg_h1.png') top left repeat-x; 
/*width:70%;*/
margin:10px 0px;
height:30px;text-align:center;line-height:28px;
font-size:18px; color:#ca2090;border-bottom:#ca2090 solid 2px;
}
ul.list{list-style: none;display:inline-block;float: left;margin-left:-34px;}
ul.list li{vertical-align: middle;margin-left:10px;float:left;width:120px;}
ul.sublist li{vertical-align: middle;margin:10px 0px;}
ul.sublist{list-style:none;width:70%;}
ul.sublist label{display:inline-block;width:100px;}


#login{width:100%;}
#login table{background-color:#6394bd}
.graph{margin:0 auto;display:inline-block;width:500px;text-align:center;}
.img				{width:16px; height: 16px;display:inline-block;padding:0px 2px;border:none;cursor:pointer;}
.pie-chart 			{background:url(../images/pie-chart.png) no-repeat;}
.column-chart		{background:url(../images/bar-chart.png) no-repeat;}
.bar-chart{background:url(../images/horizontal-chart.jpg) no-repeat;}
.chart-graph{background:url(../images/chart_graph.png) no-repeat;width:32px;height: 28px;display:inline-block}
.excel{background:url('../images/n_excel.gif') no-repeat;width:16px; 
	   height: 16px;display:inline-block;padding:0px 2px;border:none;cursor:pointer;
	   vertical-align: bottom;
	   }

#map				{width: 76%; border-color: #CCCCCC #CCCCCC #999999;border-style: solid;border-width: 1px;
    					box-shadow: 0 2px 5px rgba(64, 64, 64, 0.1);padding:5px;overflow:hidden;background: #FFF;margin-left:10px;}
#map .canvas	{width:790px;float:right ;height: 800px;}
#map .search	{width:297px;float:left;}
#map .search p{background-color: #E31788;color:#FFF;text-align: center;font-size:14px;font-weight:bold;margin:0px;padding:5px;height: 16px;line-height: 14px;border-radius:5px 51px 5px 51px;}
#map .search ul{list-style: none;overflow: hidden;padding:0px;}
#map .search ul.box{border:1px solid #AFD8A0;border-radius:5px;}

#map .search li{border-bottom: 1px dashed #CCCCCC;display:inline-block;width:100%;padding:5px 0px;}
#map .search ul.box li{border-bottom: none;}
#map .search li label{width:100px;display:inline-block;padding:2px;}
#map .search ul.box span{display:inline-block;margin-right:3px;}
.orange{background:url(../images/maps/pin_orange.png) no-repeat;width:24px;height: 24px;}
.yellow{background:url(../images/maps/pin_yellow.png) no-repeat;width:24px;height: 24px;}
.red{background:url(../images/maps/pin_red.png) no-repeat;width:24px;height: 24px;}
.green{background:url(../images/maps/pin_green.png) no-repeat;width:24px;height: 24px;}
.syringe{
	width: 24px !important;
	height: 24px !important;
	padding:0px;
	background-image:url(../images/syringe/syringe.png)!important;
	display: inline-block !important;	
	line-height: 0 !important;
	vertical-align:middle;

}
.syringe5{background-position:-29px 96px;}
.syringe3{background-position:-58px 72px;}
.syringe2{background-position:-87px 72px;}
.syringe1{background-position:-117px 72px;}
.syringe4{background-position:-147px 72px;}
.btn_view{background:url('../images/eye-icon.png') no-repeat;width:24px;height: 24px;border:none;display:inline-block;}
.btn_edit{background:url('../images/pencil-icon.png') no-repeat;width:24px;height: 24px;border:none;display:inline-block;}
.btn_delete{background:url('../images/cross.png') no-repeat;width:16px;height: 16px;border:none;display:inline-block;}
.btn_add{background:url('../images/btn_add.png') no-repeat;width:183px; height:29px;cursor:pointer; display:inline-block;border:none;float:right;}
.btn_add1{background:url('../images/add.png') no-repeat;width:106px; height:25px;cursor:pointer; display:inline-block;border:none;float:right;}
.btn_syring{background:url('../images/syringe/syringe-icon.png') no-repeat;
				  width:24px;height:24px;border:none;display:inline-block;margin}

#boxAdd{margin-top:15px;/*width:70%;*/}
ul.sublist label.error,label.error{color:red;width:50%;}
.alertred{font-size: 12px;	color: #FF0000;}
/********************************        ********************************/
#search{margin-bottom:20px; background:url(../images/bg_logedin2.png) repeat;}
.partial{
	margin:20px;padding:10px 0px;
}
.partial.title{
	margin-left:20px;font-weight:bold;font-size:13px;width:auto;
}
.checkvaccine-cross{border:1px solid #ED0202;margin-right:3px;}
.checkvaccine-check{border:'';margin-right:3px;}
.user-online{background:url('../images/user-online.png') no-repeat;width:24px;height: 24px;border:none;display:inline-block;}
.user-offline{background:url('../images/user-offline.png') no-repeat;width:24px;height: 24px;border:none;display:inline-block;}
.tbvaccine p{margin:0px;}
#report{
	margin-top:50px;
	margin-left:10px;
	width:80%;
	margin-left:10%;margin-right:10%;
}
#report #title{
	font-size:12px;
	font-weight:bold;
	color:#000;
	height: auto;
	border:none;
	background:none;
	display:none;
}

#report #title p{margin-bottom:-22px;font-size:13px;}
#report #area_btn_print{display:none;}
#report #description{display:none;}
#report .right{margin-top:-17px;}

.tbreport
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin:0;
    margin-bottom:10px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
   
   
}
.tbreport th
{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 5px 12px 5px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;
    text-align:center;
    background-color:#fff;
     height:17px;
   
}
.tbreport td
{
    color:#333;
    padding:6px 3px;
    height:16px;
    /*border-top: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;*/
    vertical-align: top;
    
 
}
.tbreport td p.percentage{margin:0px;padding:0px;color:#2151B3;font-size:11px;}
.tbreport td.B { font-weight:700;}
.tbreport td.para1{margin-left:20px;}

.tbreport td strong {font-weight:700;}
.tbreport td.red, span.red { color:#F00;}
.tbreport tr:hover td,.tblist tr.active td {background:#FDB8EE;}
.tbreport tr:hover td.hasRowSpan {background:none;}
.tbreport tr.total { border-top:1px solid #666; border-bottom:1px solid #666; font-weight:700;text-align: center;}
.tbreport td.topic { background:#F5F5F5;}
.tbreport td.topic p { padding:5px 0 5px 15px;}
.tbreport td a:link {color:#800000; text-decoration:underline;}
.tbreport td a:visited {color:#800000; text-decoration:underline;}
.tbreport td a:hover {color: #F60; text-decoration:underline;}
.tbreport td a:active {color: #800000; text-decoration:underline;}
.tbreport tr.para1{text-align:center;}
.tbreport tr.para1 td.pad-left{text-align:left;padding-left:40px;}
.tbreport tr.para1 td.pad-left:before{content:'- ';padding-right:3px;}
.tbreport tr.para1 td.pad-left2{text-align:left;padding-left:60px;}
.tbreport1
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin-bottom:10px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
   
}
.tbreport1 th
{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 5px 12px 5px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align:center;
    background-color:#fff;
     height:30px;
   
}
.tbreport1 td
{
    color:#333;
    padding:6px 3px;
    height:25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    text-align:center;
}
.tbreport1 th.B{font-weight:900;font-size:14px;}
#btn_printout{float:right;margin-top:10px;}
#report #multiAccordion{ width:70%;margin-left:15%;margin-right:15%;}
#report #multiAccordion  #reference{font-size:11px;}
.page-break{margin:-1px 0px; padding:0px;height:0px;}
.btn_search1{
width:32px;
height:26px;
border: none;
background: transparent url(../images/comment_user_search.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline-block;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
vertical-align:top
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.label {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}
.label-warning,
.badge-warning {
  background-color: #f89406;
}
.tr-graph div{width:662px;margin:0 auto;text-align:center;}
.tr-graph2 div{width:662;margin:0 auto;text-align:center;}

.tr-graph3 div{width:900;}
.tr-graph3 .container1{width:900px;margin:0 auto;height:450px;border:1px solid #CCCCCC}

.tr-graph  .container{width:660px;height:305px;border:1px solid #CCCCCC}
.tr-graph2 .container1{width:1311px;height:560px;border:1px solid #CCCCCC}
.tr-graph  .container3{width:1311px;height:560px;border:1px solid #CCCCCC}
.btn_close{float:right;}
