@charset "utf-8";
/*
Design by http://www.favouritedesign.com
*/

/* ### GENERAL ### */
.inline{margin:none;}
#register form{margin:8px 14px 20px;}
#register .row{background-color:#FFFFFF;margin-left:1px;margin-top:-8px;}
label.error{color:red;width:50%;display:inline}
label.alertred{font-size: 12px;	color: #FF0000;display:inline;}
.username-field input[type="text"],.password-field input[type="password"] 
{width: 159px;height: 16px;margin-top: 10px;
	margin-left:4px;	font-family: Verdana, Arial;font-size: 13px;color: #2d2d2d;
	box-shadow:none;background:none;border:none}

#register .form-horizontal .controls{clear:both;display:inline-block;margin-left:40px;margin-top:10px;}
#register .form-horizontal .control-label{clear:both;padding-top:13px;}
#register #boxAdd{margin-top:28px;margin-left:36%}

